doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
      

      nav.navbar.navbar-default(role='navigation')
        div.navbar-header
          button(type='button',data-toggle='collapse',data-target='#jcs-navbar-collapse-1').navbar-toggle
            span.sr-only Toggle navigation
            span.iconbar
            span.iconbar
            span.iconbar
          div.navbar-brand Game Inventory
        div#jcs-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav

            li
              a(href='/') Home

            li.dropdown
              a(href='#',data-toggle='dropdown').dropdown-toggle Games
                b.caret
              ul.dropdown-menu
                li: a(href='/inventory/games') List of Games
                li: a(href='/inventory/game/create') Create New Game

            li.dropdown
              a(href='#',data-toggle='dropdown').dropdown-toggle Publishers
                b.caret
              ul.dropdown-menu
                li: a(href='/inventory/publishers') List of Publishers
                li: a(href='/inventory/publisher/create') Create New Publisher
            
            li.dropdown
              a(href='#',data-toggle='dropdown').dropdown-toggle Genres
                b.caret
              ul.dropdown-menu
                li: a(href='/inventory/genres') List of Genres
                li: a(href='/inventory/genre/create') Create New Genre
          

    



      
    block content
